/Soma de 0-20/nbproject/private/
/Vetor01/nbproject/private/
/Vetor01/build/
/Vrtor02/nbproject/private/
/Vetor02/nbproject/private/
/Vetor02/build/
/Ordenando valores de um vetor/nbproject/private/
/Ordenando valores de um vetor/build/
/Fazendo buscas no vetor/nbproject/private/
/Fazendo buscas no vetor/build/
/Preenchimento de um vetor/nbproject/private/
/Preenchimento de um vetor/build/
/Funcao/nbproject/private/
/Funcao/build/
/Funcao02/nbproject/private/
/Funcao02/build/